#cabecera {
  background-image: url("../imagenes/Pacman.jpg");
  background-size: 100% 100%;
  width: auto;
  height: 400px;
  margin: 0px;
}

#titulo {
  color: white;
  text-align: center;
}

body {
  background-image: url("../imagenes/celeste13.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#github {
  text-align: center;
}

